
@import url('https://fonts.googleapis.com/css2?family=Gentium+Plus&display=swap');



.container{
    height: 100vh;
    width: 100vw;
}
.home-page{
    width: 100vw;
    height: 100vh;
    display: contents;
    /* display: flex;
    flex-direction: column; */
}

.home-page .solid-logo {
    width: 30rem!important;
    height: 35rem;
    position: absolute;
    font-family: "-moz-initial";
    top: 15%;
    right: auto;
    bottom: auto;
    right: 15%;
    border: 10px;
    border-radius: 100%;
}
.home-page .text-zone {
    position: absolute;
    left: 10%;
    top: 50%;
    transform: translateY(-50%);
    width: 40%;
    max-height: 90%;
    font-family: "-moz-initial";
}
.home-page h1 {
    font-family: "-moz-initial";
    color: #fff;
    font-size: 56px;
    line-height: 53px;
    margin: 0;
    font-weight: 400;
}



.home-page h1 img {
    margin-left: 20px;
    opacity: 0;
    width: 40px;
    height: 65px;
    animation: rotateIn 1s linear both;
    animation-delay: 1.4s;
}
.home-page h2 {
    color: #8d8d8d;
    margin-top: 20px;
    font-weight: 400;
    font-size: 11px;
    font-family: "-moz-initial";
    letter-spacing: 3px;
    animation: fadeIn 1s 1.8s backwards;
}
.home-page .flat-button {
    color: #03fbff;;
    font-size: 13px;
    font-weight: 400;
    letter-spacing: 4px;
    font-family: "-moz-initial";
    text-decoration: none;
    padding: 10px 18px; 
    border: 1px solid #03fbff;
    margin-top: 25px;
    float: left;
    animation: fadeInAnimation 1s 1.8s backwards;
    white-space: nowrap;
}
.home-page .flat-button:hover {
    background: #03fbff;;
    color: #333;
}
.contact-button{
    text-decoration: none;
    width: 100%;
    max-width: 200px;
    height: 40px;
    display: block;
    line-height: 40px;
    letter-spacing: 3px;
    position: relative;
    text-align: center;
    color: #08fdd8;
    margin-top: 50px;
}
.contact-button div{
    position: relative;
    width: 100%;
    height: 100%;
    overflow: hidden;
    transition:  all .3s ease-in-out;
}
.contact-button span.bg{
    position: absolute;
    width: 0%;
    height: 100%;
    left: -5px;
    top: 0;
    transition: all .3s ease-in-out;
    background-color: #08fdd8;
    transform: skewX(-19deg);
    
}
.contact-button:hover span.bg{
    width: 110%;
}
.contact-button span.base{
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    border: 1px solid #08fdd8;
    box-sizing: border-box;
    
}
.contact-button span.text{
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    
}
.contact-button:hover span.text{
    color: #1d1d1d;
}

.borderanimation{
    width: 25rem!important;
    height: 25rem;
    position: absolute;
    font-family: "-moz-initial";
    top: 15%;
    right: auto;
    bottom: auto;
    right: 15%;
	background-color: #21D4FD;
	background-image: linear-gradient(19deg, #9cf1d7 0%, #385745 100%);
	border-radius :30% 70% 70% 30% / 30% 30% 70% 70%;
	box-shadow :15px 15px 50px rgba(0,0,0,0.2);
	animation: morphing 10s infinite;
	overflow: hidden;
}

@keyframes morphing {
    0% {
        border-radius :30% 70% 70% 30% / 30% 30% 70% 70%;
        box-shadow :15px 15px 50px rgba(0,0,0,0.2);
    }
    25% { 
        border-radius: 58% 42% 75% 25% / 76% 46% 54% 24%;
    }
    50% {
        border-radius: 50% 50% 33% 67% / 55% 27% 73% 45%;
        box-shadow: -10px -5px 50px rgba(0,0,0,0.2);
    }
    75% {
        border-radius: 33% 67% 58% 42% / 63% 68% 32% 37%;		
    }
}








@media only screen and (max-width: 768px){
    .home-page .text-zone {
        position: absolute;
        left: 20%;
        top: 50%;
        transform: translateY(-50%);
        width: 80%;
        height: 20% !important;
    }
    .logo-container
    {    
        height: 30%;
        position: absolute;
        display: flex;
        align-items: center;
        justify-content: center;
        top: 68%;
        right: 25%;
        margin-left: 1rem;
    }
    .home-page .borderanimation {
        width: 8rem!important;
        height: 8rem;
       
    }
    
}
