*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
   }

.navbar{
    position: fixed;
    top: 0;
    left: 0;
    width: 75px;
    height: 100%;
    background: inherit;
   }
   
   .nav{
    height: 95%;
    
   }

   .nav-centre{
    display: flex;
    position: absolute;
    top: 38%;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
   }


   .nav-centre  a{
    padding: 5px 12px;
    color: #0e94d4;
    text-decoration: none;
    font-size: 18px;
    color: white;
    vertical-align: middle;
   }

   .logo{
       margin-top: 1rem;
       margin-left: 0.8rem;
      
}


.nav_end{
    position: absolute;
    bottom: 2%;
 display: flex;
 flex-direction: column;
 align-items: center;
 justify-content: center;
}
.nav_end a{
    padding: 10px 25px;
    color: rgb(58, 57, 57);
}
.nav-centre a:hover {
    color: #05e2ff;
}
.nav-centre a:hover {
    opacity: 1;
}
.nav-centre a:hover:after {
    opacity: 1;
}
.nav-centre a:after {
    content: '';
    font-size: 9px;
    letter-spacing: 2px;
    display: block;
    width: 100%;
    text-align: center;
    opacity: 0;
    -webkit-transition: all 0.3s ease-out;
    transition: all 0.3s ease-out;
}
.nav-centre a:first-child:after {
    content: 'HOME';
}
   
.nav-centre a.info:after {
    content: 'ABOUT';
}
.nav-centre a.skillimg:after {
    content: 'SKILLS';
}
.nav-centre a.contact:after {
    content: 'CONTACT';
}

.nav_end a:hover{
    color: #05e2ff;
}


.skillimg{
    color: rgb(251, 251, 251);
}

